@import "tailwindcss";

/* @css-ignore unknownAtRules */
@theme {
  --color-primary-600: #2563eb;
  --font-sans: "Aptos", sans-serif;

}
/* Configuración para Dark Mode con clase */
@custom-variant dark (&:where(.dark, .dark *));

/* Tus estilos personalizados */
:root {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-200: #bae6fd;
  --color-primary-300: #7dd3fc;
  --color-primary-400: #38bdf8;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
  --color-primary-800: #075985;
  --color-primary-900: #0c4a6e;
}

.dark {
  color-scheme: dark;
}
/* Estilos globales */
* {
  box-sizing: border-box;
  font-family: var(--font-sans);
}
/* Clase para la fuente Astrale */
.font-astrale {
    font-family: 'Astrale', cursive;
    font-weight: normal; /* Ajusta según necesites */
}
.font-arkhip {
    font-family: 'Arkhip', cursive;
    font-weight: normal; /* Ajusta según necesites */
}